.btn-group role="group"
  = render "photos/sort_button", title: "By rating", param:"likes_count"
  = render "photos/sort_button", title: "By date", param: "created_at"
  = render "photos/sort_button", title: "By comments", param: "comments_count"