.btn-group role="group"
  = render "photos/sort_button", title: "By rating", sort_param: "by_rating", active: @by_rating
  = render "photos/sort_button", title: "By date", sort_param: "by_date", active: @by_date
  = render "photos/sort_button", title: "By comments", sort_param: "by_comments", active: @by_comments