/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

$color-black: #0b0b0b;
$color-border: #333;
$color-cod-gray: #121212;
$color-alto: #dcdcdc;

@import "bootstrap";
@import "/bootstrap_overwrite";
@import "/tabs";
@import "/radio_images";
@import "/pagination";
@import "/jquery-comments";

@mixin hover {
  &:active {
    @content;
  }

  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@font-face {
  font-family: "Bariol_bold";
  src: asset-url("Bariol_Bold.otf") format("opentype");
}

* {
  outline: none !important;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $color-black;
  color: $color-alto;
  min-width: 600px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.border-top {
  border-top: 1px solid $color-border;
}
.border-bottom {
  border-bottom: 1px solid $color-border !important;
}

.logo {
  height: 38px;
}

.header {
  background-color: $color-cod-gray;
  border-bottom: 1px solid $color-border;

  &__avatar {
    height: 26px;
    border-radius: 50%;
    position: relative;
    top: -1px;
    margin-right: 5px;
  }

  &__user {
    height: 40px;
    display: flex;
    justify-content: center;
  }
}

#error_explanation {
  color: red;
}

.welcome_block {
  position: relative;
  height: 400px;
  padding: 30px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bariol_bold";

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url(https://static.photocrowd.com/img/all_assignments_anon_banner.jpg);
    background-position: 50%;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
  }
}

.main__content {
  padding: 0 15px;
  background-color: $color-cod-gray;
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
  flex-grow: 1;
}

.gallery {
  width: 100%;
  border-bottom: 1px solid $color-border;
}

.photo_card {
  display: flex;

  &__info {
    width: 250px;
    padding: 10px 20px;
    flex-shrink: 0;
    border-right: 1px solid $color-border;
    font-size: 13px;

    &_location {
      font-size: 17px;
    }

    &_description {
      margin-top: 10px;
    }

    &_user {
      margin-top: 5px;

      a {
        color: inherit;
      }
    }

    &_footer {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }

    &_delete {
      display: block;
      margin-top: 20px;
      background: none;
    }
  }

  &__photo {
    padding: 10px;
    max-height: 90vh;
    max-width: calc(100% - 250px);
  }

  &:first-child &__info,
  &:first-child &__photo {
    padding-top: 30px;
  }
}

.button_icon {
  background: none;
  border: none;
  color: #767676;
  padding: 0;
  transition: color 0.25s;
  text-decoration: none !important;

  &:not(:disabled) {
    @include hover {
      color: $color-alto;
    }
  }

  &__icon {
    width: 24px;
  }

  &--liked {
    color: #ff3347;
  }

  &__count {
    position: relative;
    top: 2px;
    font-size: 14px;
    margin-left: 6px;
  }
}

.photo__comments {
  margin-right: -5px;
  margin-left: 5px;
  margin-top: 20px;
}

.form-control,
.form-control:focus {
  border: 1px solid $color-border;
  background: $color-black;
  box-shadow: none;
  color: $color-alto;
}

.custom-file-input {
  cursor: pointer;

  &:focus ~ .custom-file-label {
    border: 1px solid $color-border;
    box-shadow: none;
  }
}

.custom-file-label {
  border: 1px solid $color-border;
  background: $color-black;

  &:after {
    background: none;
    color: $color-alto;
  }
}

.gallery_page__top {
  padding: 10px 20px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
}

.flash_block {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
