@import "bootstrap";

@font-face {
  font-family: 'Bariol_bold';
  src: url('/assets/Bariol_Bold.otf') format("opentype");
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  background: #0B0B0B;
  color: #dcdcdc;
}

.container {
  max-width: 1300px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-bottom-black { border-bottom: 1px solid #333; }


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.logo {
  height: 38px;
}

.header {
  min-height: 74px;

  &__avatar {
    height: 26px;
    border-radius: 50%;
    position: relative;
    top: -1px;
    margin-right: 5px;
  }
}

#error_explanation {
  color: red;
}

.welcome_block {
  position: relative;
  height: 400px;
  padding: 30px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bariol_bold";

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url(https://static.photocrowd.com/img/all_assignments_anon_banner.jpg);
    background-position: 50%;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    pointer-events: none;
  }
}

.gallery {
  width: 1300px;
  margin: auto;
  background-color: #121212;
  border-left: 1px solid #333;
  border-right: 1px solid #333;

  @media (max-width: 1320px) {
    width: auto;
  }
}

.photo_card {
  display: flex;

  &__info {
    width: 250px;
    padding: 10px 20px;
    border-right: 1px solid #333;
    font-size: 13px;

    &_location {
      font-size: 17px;
    }

    &_description {
      margin-top: 10px;
    }

    &_user {
      margin-top: 5px;
    }
  }

  &__photo {
    padding: 10px;
    max-height: 90vh;

    @media (max-width: 1320px) {
      max-width: calc(100vw - 250px);
    }
  }

  &:first-child &__info,
  &:first-child &__photo {
    padding-top: 30px;
  }
}