@import "bootstrap";

@mixin hover {
  &:active {
    @content;
  }

  @media (hover: hover) {
    &:hover { @content; }
  }
}

@font-face {
  font-family: 'Bariol_bold';
  src: url('/assets/Bariol_Bold.otf') format("opentype");
}

* {
  outline: none !important;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #0B0B0B;
  color: #dcdcdc;
  min-width: 600px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1300px;

  @media (max-width: 1300px) {
    max-width: 1140px;
  }
}

.btn-outline-light-2 {
  color: #dcdcdc !important;
  border: 1px solid #767676;

  @include hover {
    border: 1px solid #ededed;
  }
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-bottom-black { border-bottom: 1px solid #333; }


.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.logo {
  height: 38px;
}

.header {
  &__avatar {
    height: 26px;
    border-radius: 50%;
    position: relative;
    top: -1px;
    margin-right: 5px;
  }

  &__user {
    height: 40px;
    display: flex;
    justify-content: center;
  }
}

#error_explanation {
  color: red;
}

.welcome_block {
  position: relative;
  height: 400px;
  padding: 30px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.35);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Bariol_bold";

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: url(https://static.photocrowd.com/img/all_assignments_anon_banner.jpg);
    background-position: 50%;
    background-size: cover;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    pointer-events: none;
  }
}

.content {
  padding: 0 15px;
  background-color: #121212;
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  flex-grow: 1;
} 

.gallery {
  width: 100%;
  border-bottom: 1px solid #333;
}

.photo_card {
  display: flex;

  &__info {
    width: 250px;
    padding: 10px 20px;
    flex-shrink: 0;
    border-right: 1px solid #333;
    font-size: 13px;

    &_location {
      font-size: 17px;
    }

    &_description {
      margin-top: 10px;
    }

    &_user {
      margin-top: 5px;
    }

    &_footer {
      margin-top: 10px;
    }
  }

  &__photo {
    padding: 10px;
    max-height: 90vh;
    max-width: calc(100% - 250px);
  }

  &:first-child &__info,
  &:first-child &__photo {
    padding-top: 30px;
  }
}

.button_like {
  background: none;
  border: none;
  color: #767676;
  padding: 0;
  transition: color 0.25s;

  &:not(:disabled) {
    @include hover {
      color: #ededed;
    }
  }

  &__icon {
    width: 24px;
  }

  &--liked {
    color: #ededed;
  }

  &__count {
    position: relative;
    top: 2px;
    font-size: 14px;
    margin-left: 6px;
  }
}